<div id="main" class="container-fluid">
 <h4 class="page-header">Editar Equipamento</h4>
<%= render 'form', equipamento: @equipamento %>

<%= link_to 'Show', @equipamento %> |
<%= link_to 'Back', equipamentos_path %>
