<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @equipamento.codigo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @equipamento.descricao %>
</p>

<a class="btn btn-inverse btn-sm" <%= link_to 'Voltar', equipamentos_path %></a>
