<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @equipamento.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%=valor_formatado(@equipamento.valor_equip) %>
</p>

<a class=" btn btn-default btn-sm" <%= link_to 'Voltar', equipamentos_path %></a>