<div id="main" class="container-fluid">
<h4 class="page-header">Editar Manutenção</h4>

<%= render 'form', manutention: @manutention %>

<a class="btn btn-default btn-sm" <%= link_to 'Voltar', manutentions_path %> </a>
</div>
