<div id="main" class="container-fluid">
 <h4 class="page-header">Editar Instituto</h4>

<%= render 'form', instituto: @instituto %>

<a class="btn btn-default btn-sm" <%= link_to 'Voltar', institutos_path %></a>
    
</div>
