<%= form_for(sobre) do |f| %>
  <% if sobre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sobre.errors.count, "error") %> prohibited this sobre from being saved:</h2>

      <ul>
      <% sobre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
