<div id="main" class="container-fluid">
<h4 class="page-header">Editar Serviço</h4>
<%= render 'form', tipo_servico: @tipo_servico %>
<a class="btn btn-default btn-sm" <%= link_to 'Voltar', tipo_servicos_path %></a>
</div>

