<div id="main" class="container-fluid">
 <h4 class="page-header">Novo Laboratorio</h4>

<%= render 'form', laboratorio: @laboratorio %>

<a class="btn btn-inverse btn-sm" <%= link_to 'Voltar', laboratorios_path %></a>
</div>