<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Olá <%=@nome%>,</h3>
    <p>
      A requisição do <%= @equipamento %> pertencente ao <%=@laboratorio%> para manutenção foi aprovada pelo Administrador.
   </p>
    <br>
    <p>
      Atenciosamente,
   </p><p>
      Sistema Laboratorios Compartilhados</p>
    </p>
    <br>
  </body>
</html>