<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Olá Administrador,</h3>
    <p>
     O usuário <%=@nome%> solicitou manutenção para o equipamento <%= @equipamento %> do <%=@laboratorio%>. Cheque o módulo de itens disponíveis para manutenção.
   </p>
    <br>
    <p>
      Atenciosamente,
   </p><p>
      Sistema Laboratorios Compartilhados</p>
    </p>
    <br>
  </body>
</html>