Olá Administrador,

O usuário <%=@nome%> solicitou manutenção para o equipamento <%= @equipamento %> do <%=@instituto%>. Cheque o módulo de itens disponíveis para manutenção.
  
 Atenciosamente,
Sistema Laboratorios Compartilhados</p>
