
<div id="main" class="container-fluid">
<h4 class="page-header">Editar Equipamento</h4>

<%= render 'form', labequip: @labequip %>

<a class="btn btn-inverse btn-sm" <%= link_to 'Voltar', labequips_path %></a>
</div>