<p id="notice"><%= notice %></p>
<div id="list" class="row">

<div class="table-responsive col-md-12">
<table class="table table-striped" cellspacing="0" cellpadding="0" width="100%" height="100" >
  <thead>
    <tr>
     <th>Institutos</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
        <% @institutos.each do |instituto| %>
      <tr>
        <td> <%= instituto.nome %>
        <td><td>
        <td><td>
        <td><a href="/institutos">Laboratorios</a></td>
     </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>


